body {
  font-family: 'Arial', sans-serif;
  background: #f9f1da;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.logo {
  max-width: 150px;
  display: block;
  margin: 0 auto 20px;
  border-radius: 10%;
}

h1 {
  text-align:center;
  color: #5a3e1b;
  max-width: 70%;
  margin-left: 100px;

}

form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

label {
  margin-top: 20px;
  font-weight: bold;
}

.endereco-group {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 25px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.endereco-group input {
  width: 100%;
}


input {
  padding: 8px;
  margin-top: 4px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#qtd-leite, #qtd-ovos, #qtd-queijo {
  width: 5%;
  text-align: center;
  margin: 10px 0;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#valor {
  margin-top: 15px;
  font-weight: bold;
  color: #2e7d32;
}

button {
  margin-top: 20px;
  padding: 12px;
  background: #6b4226;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #4b2f1b;
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  
  /* Centralização */
  display: flex;
  align-items: center;
  justify-content: center;
}


.modal-content {
  background: #fff;
  padding: 30px;
  border-radius: 8px;
  max-width: 500px;
  width: 90%;
  text-align: left;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}



@media (max-width: 600px) {
  .container {
    margin: 10px;
  }

  h1 {
  max-width: 100%;
  margin-left: 30px;
  }

  #qtd-leite, #qtd-ovos, #qtd-queijo {
  width: 3%;
  text-align: center;
  margin: 10px 0;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  }

  .produto-label {
  font-size: 13px;
}



}
